@media (max-width: 980px) {
 .box-1 p {
  font-size: .7em;
 }
 .box-2 p {
  font-size: .7em;
 }

 .custom-container {
  margin-top: 5em !important;
 }
 .custom-col {
  margin-bottom: 2em;
 }
 .custom-row3 {
  margin: 1em;
 }
 .custom-container1 {
  display: block !important;
 }
 .custombutton1 {
  margin-bottom: 1em !important;
 }
}

@media (max-width: 600px) {
 .hbox-1 h6, 
 .hbox-1 p {
  font-size: .4rem;
 }
}
@media (max-width: 800px) {
 .hbox-1 h6, 
 .hbox-1 p {
  font-size: .7rem;
 }
}